<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carros</title>
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="styleDoceria.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
</head>
<body class="sitecor">

    <header>
    <div class="bloco" >   
        <img class="foto" src="LogoDoceriaThuyzin.png" >       
        <nav>
            <ul>
                <li> <a class="link" href="doceriaPrincipal.html"> HOME</a></li>
                <li> <a class="link" href="produtos.html"> PRODUTOS</a></li>
                <li> <a class="link" href="#"> ENCOMENDAS</a></li>
                <li> <a class="link" href="#"> CONTATO</a></li>
            </ul>
        </nav>
    </div>
</header>
    <main class="bloco">
    
        <ul class="lista-produtos">

            <li>
                <h2> Brigadeiros </h2>
                <img class="img_lista" src="brigadeiros.jpg"> 
                <p> Os melhores brigadeiros gourmet da região </p>
                <p class="produto-preco">R$1,50 (unidade)</p>

            </li>

            <li>
                <h2>Paçoca</h2>
                <img class="img_lista" src="paçocaa.jpg">
                <p>A melhor paçoca e mais saborosa da região</p>
                <p class="produto-preco">R$10,90(Pote)</p>    

            </li>

            <li>

                <h2>Fini</h2>
                <img class="img_lista" src="fini.jpg">
                <p>Deliciosas Finis de todos os sabores</p>
                <p class="produto-preco">R$5,99 (unidade)</p>

            </li>

            <li>
                <h2>Bolo De Chocolate</h2>
                <img class="img_lista" src="bolo.jpg">
                <p>Bolo de chocolate 350g, perfeito para festas e comemorações.</p>
                <p class="produto-preco">R$39,90</p>

            </li>

            <li>
                <h2>Cupcakes</h2>
                <img class="img_lista" src="cupcakes.jpg">
                <p>Cupcakes, perfeitos para acompanhamentos com bolo e doces em festas e comemorações.</p>
                <p class="produto-preco">R$2,50 (unidade)</p>

            </li>

            <li>
                <h2>Donuts</h2>
                <img class="img_lista" src="donuts.jpg">
                <p>Donuts, ideais para quaisquer ocasião, festas, para comer acompanhado com suco ou café.</p>
                <p class="produto-preco">R$9,90</p>

            </li>

            <li>
                <h2>Mousse de Maracujá</h2>
                <img class="img_lista" src="mousse de maracuja.jpg">
                <p>Mousse de Maracujá em pote (150g), um maravilhoso doce para comer de sobremesa.</p>
                <p class="produto-preco">R$10,00</p>

            </li>

            <li>
                <h2>KitKat</h2>
                <img class="img_lista" src="kitkat.jpg">
                <p>KitKat, um doce acompanhados com wafer e uma cobertura de chocolate maravilhosa.</p>
                <p class="produto-preco">R$4,99 (unidade)</p>

            </li>

            <li>
                <h2>Bentô cake</h2>
                <img class="img_lista" src="bentô cake.jpg">
                <p>Bentô cake, bolinho com frases e desenhos personalizaveis, ideal para aniversarios e presentes. </p>
                <p class="produto-preco">R$17,50</p>

            </li>

            <li>
                <h2>Doces de Copinho</h2>
                <img class="img_lista" src="Doces-de-copinho1.jpg.webp">
                <p>.</p>
                <p class="produto-preco">R$10,00</p>

            </li>

        </ul>

    </main>
    
    <footer style="background-color: navajowhite;">

        <div class="bloco">
        <img class="foto" src="LogoPrincipal.png">

        <p class="rodape-itens"> R. Nove de Julho, 823 - Centro, Araraquara - SP, 14801-295 </p>

    </div>
    </footer>

</body>
</html>